  <%= form_for(@product_type, :remote => true) do |f| %>
    <% if @product_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product_type.errors.count, "error") %> prohibited this product_type from being saved:</h2>

        <ul>
        <% @product_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="row">
      <%= f.label "Product ID:" %>

      <%= f.text_field :prod_number %>

    </div>
    <div class="row">
      <%= f.label "Description:" %>

      <%= f.text_area :prod_desc, {:size => "10x5", :placeholder => "Enter the Product Description Here."} %>

    </div>
    <div class="row">
      <%= f.label "Manufacturer:" %>

      <%= f.text_field :brand %>

    </div>
    <div class="row">
      <%= f.label "Stock Available:" %>

      <%= f.number_field :total_quantity %>

    </div>
    <div class="row">
      <%= f.label "ReOrder Point:" %>

      <%= f.number_field :needed_quantity %>

    </div>

      <%= f.submit "Update Product Type", :class => "btn blue submit mt15", :id => "formnoshow" %>

  <% end %>
