
<tr id="<%= dom_id(product_type) %>">
	<td><%= product_type.prod_number %></td>
	<td><%= product_type.prod_desc %></td>
	<td><%= product_type.brand %></td>
	<td><% if product_type.total_quantity < product_type.needed_quantity %><span class="levellow"><%= product_type.total_quantity %></span><% else %><%= product_type.total_quantity %><% end %></td>
	<td><%= product_type.needed_quantity %></td>
	<% if can? :update, ProductType %>
	<td><%= link_to 'Show', product_type,:class => "sprite-new showbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Show Details" %>&nbsp;<%= link_to 'Edit', edit_product_type_path(product_type),:class => "sprite-new editbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Edit Product" %>&nbsp;<%= link_to 'Destroy', product_type,:class => "sprite-new deletebutton", confirm: 'Are you sure?', method: :delete, "data-placement" => "below", "title" => "Delete Product" %></td>
	<% end %>
</tr>
