<div class="sidebar">
  <div class="well-sidebar">
    <h5 class="light">Filters</h5>
    <%= search_form_for @q, :html => { :class => "form-stacked" } do |f| %>
      <fieldset>
        <div class="clearfix">
          <%= f.label "Product Type:" %>
          <div class="input">
            <%= f.text_field :prod_number_cont, :class => "span3" %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label "Product Description:" %>
          <div class="input">
            <%= f.text_field :prod_desc_cont, :class => "span3" %>
          </div>
        </div>
        <div class="pull-right">
          <%= f.submit :class => "sprite-new searchbutton", "data-placement" => "below", "rel" => "twipsy", :title => "Search" %> &nbsp; <%= link_to "Reset", product_types_path, :class => "sprite-new resetbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Clear Form" %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <br/>
  <div class="well-sidebar">
    <h5 class="light">Create a Product</h5>
    <fieldset>
      <span style="padding-left: 20px;"><%= link_to 'New Item', new_product_type_path,:class => "btn primary", "data-controls-modal" => "new_product_type", "data-backdrop" => "static"  %></span>
    </fieldset>
  </div>
</div>