<div class="box onethird">
  <% if can? :create, ProductType %>
  <div>
    <div class="boxheading clearfix">
      <h3>New Product Type</h3>
      <!-- <a class="move"></a> -->
        <%= link_to(new_product_type_path, :class => "r", :remote => true, :id => "formshow")  do %>
            <%= image_tag ("hdr_dropdown.png") %>
        <% end %>
    </div>
    <section id="form" style="display:none;">
      <%= render 'form' %>
    </section>
    <% end %>
      <br/>
  </div>

  <div class="boxheading clearfix">
    <h3>Filters</h3>
    <a class="move"></a>
  </div>
  <section>
    <%= search_form_for @q do |f| %>

        <div class="row">
          <%= f.label "Product ID:" %>

            <%= f.text_field :prod_number_cont, :class => "span3" %>

        </div>
        <div class="row">
          <%= f.label "Description:" %>

            <%= f.text_field :prod_desc_cont, :class => "span3" %>

        </div>
        <div class="row">
          <%= f.label "Manufacturer:" %>

            <%= f.text_field :brand_cont, :class => "span3" %>

        </div>
        <div class="pull-right filteraction">
          <%= f.submit :class => "btn blue submit mt15", "data-placement" => "below", "rel" => "twipsy", :title => "Search" %> &nbsp; <%= link_to "Reset", product_types_path, :class => "btn blue submit mt15", "data-placement" => "below", "rel" => "twipsy", "title" => "Clear Form" %>
        </div>

    <% end %>
  </section>
</div>