<% content_for :sidebar do %>

<% end %>

<% content_for :content do %>
<div class="modal" id="my-modal" style="position: relative; top: auto; left: auto; margin: 0 auto;" >
	<div class="modal-header">
		<%= link_to 'x', product_types_path, :class => 'close' %>
	    <h3><%= action_name.capitalize %> <%= @product_type.prod_number %></h3>
	</div>
	<div class="modal-body">
	    <%= render 'form' %>
	</div>
	<div class="modal-footer">
	    <%= link_to 'Show', @product_type, :class => "btn primary"  %>
	    <%= link_to 'Back', product_types_path, :class => "btn primary"  %>
	</div>
</div>
<% end %>