<% content_for :topbar do %>
	<%= render :partial => 'topbar' %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<% content_for :content do %>
<div class="content">

	<table class="zebra-striped bordered-table">
		<thead>
			<tr>
				<th><%= sort_link @q, :prod_number, "Product Type" %></th>
				<th>Product Description</th>
				<th><%= sort_link @q, :brand, "Brand" %></th>
				<th>Current Stock Count</th>
				<th>Stock Desired</th>
				<th class="action-buttons">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @product_types.each do |product_type| %>
			<tr>
				<td><%= product_type.prod_number %></td>
				<td><%= product_type.prod_desc %></td>
				<td><%= product_type.brand %></td>
				<td><%= product_type.total_quantity %></td>
				<td><%= product_type.needed_quantity %></td>
				<td><%= link_to 'Show', product_type,:class => "btn success" %>&nbsp;<%= link_to 'Edit', edit_product_type_path(product_type),:class => "btn primary" %>&nbsp;<%= link_to 'Destroy', product_type,:class => "btn danger", confirm: 'Are you sure?', method: :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
        <div class="pull-right">
                <%= paginate @product_types%>
        </div>
        <div class="clearfix"></div>
<% end %>
