<% if ProductType.count.zero? %>
  <% content_for :empty do %>
    <div class="blank_slate_container">
      <span class="blank_slate">
        There are no Product Types yet.  <%= link_to 'Create One', new_product_type_path %>
      </span>
    </div>
  <% end %>
<% else %>
	<% content_for :content do %>
	<div class="box twothirds">
		<div class="boxheading clearfix">
			<h3>Inventory</h3>
			<a class="move"></a>
		</div>
		<section>
			<div>
				<table class="zebra-striped bordered-table">
					<thead>
						<tr>
							<th><%= sort_link @q, :prod_number, "Product ID" %></th>
							<th>Description</th>
							<th><%= sort_link @q, :brand, "Manufacturer" %></th>
							<th>Stock Available</th>
							<th><%= sort_link @q, :needed_quantity, "ReOrder Point" %></th>
							<% if can? :update, ProductType %>
							<th>Actions</th>
							<% end %>
						</tr>
					</thead>
					<tbody id="tablehead">
						<%= render :partial => "product_type", :collection => @product_types %>
					</tbody>
				</table>
			    
			    <div class="paging mt15 clearfix">
			    	<div class="r">
			            <%= paginate @product_types %>
			        </div>
			    </div>
			    
			    <div class="clearfix"></div>

			    <script type="text/javascript" id="js">
			    	$(document).ready(function(){
				    	$('#formshow').click(function() {
				    		$('#product_type_prod_desc').css('width', '94%');
				    		$('#form').toggle('blind', 500,function() {
				    			
				    		});
				    	});
				    	$('#formnoshow').click(function() {
				    		$('#form').hide(function() {
				    			
				    		});
				    	});
				    });
		    	</script>

			    <script type="text/javascript" id="js">
			    	$(document).ready(function(){
				    	$('#footerformshow').click(function() {
				    		$('#product_type_prod_desc').css('width', '94%');
				    		$('#form').toggle('blind', 500,function() {
				    			
				    		});
				    	});
				    	$('#formnoshow').click(function() {
				    		$('#form').hide(function() {
				    			
				    		});
				    	});
				    });
		    	</script>
			</div>
		</section>
	</div>
	<% end %>

	<% content_for :sidebar do %>
		<%= render :partial => 'sidebar' %>
	<% end %>
<% end %>

<% content_for :footer do %>
  <li>
    <%= link_to(new_product_type_path, :remote => true, :id => "footerformshow") do %>
      <%= image_tag('addit.png') %>
      <span><h4 style="display:inline;">Create Product</h4></span>
    <% end %>
  </li>
<% end %>
