<% content_for :sidebar do %>

<% end %>

<% content_for :content do %>
<div class="modal" id="my-modal" style="position: relative; top: auto; left: auto; margin: 0 auto;" >
  <div class="modal-header">
    <%= link_to 'x', product_types_path, :class => 'close' %>
      <h3><%= @product_type.prod_number %></h3>
  </div>
  <div class="modal-body">
      <fieldset>
          <p>
            <b>Product #:</b>
            <%= @product_type.prod_number %>
          </p>
          <p>
            <b>Prod desc:</b>
            <%= @product_type.prod_desc %>
          </p>
          <p>
            <b>Brand:</b>
            <%= @product_type.brand %>
          </p>

          <p>
            <b>Total quantity:</b>
            <%= @product_type.total_quantity %>
          </p>

          <p>
            <b>Needed quantity:</b>
            <%= @product_type.needed_quantity %>
          </p>
        </fieldset>
  </div>
  <div class="modal-footer">
    <%= link_to 'Edit', edit_product_type_path(@product_type), :class => "btn primary"  %> 
    <%= link_to 'Back', product_types_path, :class => "btn primary"  %>
  </div>
</div>
<% end %>


