<% content_for :sidebar do %>

<% end %>

<% content_for :content do %>
<div class="box onethird">&nbsp;</div>
<div class="box midthirds">
  <div class="boxheading clearfix">
    <h3><%= @product_type.prod_number %></h3>
    <%= link_to "", product_types_path, :class => "prev" %>
  </div>
  <section>
    <div class="row">
      <p>
        <b>Product #:</b>
        <%= @product_type.prod_number %>
      </p>
    </div>
    <div class="row">
      <p>
        <b>Prod desc:</b>
        <%= @product_type.prod_desc %>
      </p>
    </div>
    <div class="row">
      <p>
        <b>Brand:</b>
        <%= @product_type.brand %>
      </p>
    </div>
    <div class="row">
      <p>
        <b>Total quantity:</b>
        <%= @product_type.total_quantity %>
      </p>
    </div>
    <div class="row">
      <p>
        <b>Needed quantity:</b>
        <%= @product_type.needed_quantity %>
      </p>
    </div>
    <div class="pt15">
    <p>
      <%= link_to 'Edit', edit_product_type_path(@product_type), :class => "btn blue pt20"  %>
    </p>
    </div>

  </section>
</div>
<div class="box onethird">&nbsp;</div>
    

<% end %>


