<% if User.all.count == 0 %>
  <% content_for :empty do %>
    <div class="blank_slate_container">
      <span class="blank_slate">
        There are no Users yet.  <%= link_to 'Create One', new_user_path %>
      </span>
    </div>
  <% end %>
<% else %>
  <% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
  <% end %>

  <% content_for :content do %>
    <div class="box twothirds">
      <div class="boxheading clearfix">
        <h3>Users</h3>
        <a class="move"></a>
      </div>
      <section>
        <table class="bordered-table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Admin Privileges</th>
              <th>Engineer Privileges</th>
              <% if can? :update, User %>
                <th class="action-buttons">Actions</th>
              <% end %>
            </tr>
          </thead>
          <tbody id="tablehead">
            <%= render :partial => "user", :collection => @users %>
          </tbody>
        </table>
        <div>
          <!-- RESERVED FOR PAGINATION -->
        </div>
          <script type="text/javascript" id="js">
            $(document).ready(function(){
              $('#formshow').click(function() {
                $('#form').toggle('blind', 500,function() {
                  
                });
              });
              $('#formnoshow').click(function() {
                $('#form').hide(function() {
                  
                });
              });
            });
          </script>

          <script type="text/javascript" id="js">
            $(document).ready(function(){
              $('#footerformshow').click(function() {
                $('#form').toggle('blind', 500,function() {
                  
                });
              });
              $('#formnoshow').click(function() {
                $('#form').hide(function() {
                  
                });
              });
            });
          </script>
      </section>
    </div>
  <% end %>
<% end %>

<% content_for :footer do %>
  <li>
    <%= link_to(new_user_path, :remote => true, :id => "footerformshow") do %>
      <%= image_tag('addit.png') %>
      <span><h4 style="display:inline;">Create User</h4></span>
    <% end %>
  </li>
<% end %>