<%= form_for(@purchase, :remote => true) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row line narrow clearfix">
    <%= f.label "P.O. #:" %>
    <div class="r">
      <%= f.text_field :po_number %>
    </div>
  </div>
  <div class="row line narrow clearfix">
    <%= f.label "Ordered By:" %>
    <div class="r">
      <div id="uniform-undefined" class="selector">
       <%= f.collection_select(:user_id, User.all, :id, :username, {:include_blank => 'Select a User'}, {:class => "regular"}) %>
      </div>
    </div>
  </div>
  <div class="row line narrow clearfix">
    <%= f.label "Date Ordered:" %>
    <div class="r">
      <%= f.text_field :date_ordered, :id => "datepicker" %>
    </div>
  </div>
  <div class="row line narrow clearfix">
    <%= f.label "Completed:" %>

    <%= f.check_box :complete %>

  </div>

    <%= f.submit :class => "btn blue submit mt15", :id => "formnoshow" %>


<% end %>
