<div class="box onethird">
<% if can? :create, Purchase %>
  <div class="boxheading clearfix">
    <h3>Control Bar</h3>
    <a class="move"></a>
  </div>
  <section>
    <%= link_to(new_purchase_path, :class => "btn_icon textright mrb15", "rel" => "popover", "data-content" => "Create a Purchase Order to start tracking your orders.  You will need to enter a unique P.O. number and select the user who created the P.O.  Once the Purchase Order is created you can begin to enter the associated Line Items.  Remember to change the P.O. to complete after all Line Items have been received.", :title => "Information", "data-placement" => "left")  do %>
        <%= image_tag ("icons/fatcow-hosting-icons/32x32/add.png") %>
        <span class="l">
          <span class="title">Create!</span>
          <span class="subtitle">New P.O.</span>
        </span>
    <% end %>
  </section>
<% end %>
  <br/>
  <div class="boxheading clearfix">
    <h3>Filters</h3>
    <a class="move"></a>
  </div>
  <section>
    <%= search_form_for @q, :html => { :class => "form-stacked" } do |f| %>
        <div class="row">
          <%= f.label "Purchases:" %>

          <%= f.text_field :po_number_cont, :class => "span3" %>
        </div>

        <%= f.submit :class => "btn blue submit mt15", "data-placement" => "below", "rel" => "twipsy", :title => "Search" %> &nbsp; <%= link_to "Reset", purchases_path, :class => "btn blue submit mt15", "data-placement" => "below", "rel" => "twipsy", "title" => "Clear Form" %>
    <% end %>
  </section>
</div>