<div class="sidebar">
  <div class="well-sidebar">
    <h5 class="light">Filters</h5>
    <%= search_form_for @q, :html => { :class => "form-stacked" } do |f| %>
      <fieldset>
        <div class="clearfix">
          <%= f.label "Purchases:" %>
          <div class="input">
            <%= f.text_field :po_number_cont, :class => "span3" %>
          </div>
        </div>
        <hr style="margin-top:5px;margin-bottom:5px;"/>
        <div class="pull-right">
          <%= f.submit :class => "sprite-new searchbutton", "data-placement" => "below", "rel" => "twipsy", :title => "Search" %> &nbsp; <%= link_to "Reset", purchases_path, :class => "sprite-new resetbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Clear Form" %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <br/>
  <% if can? :create, Purchase %>
  <div class="well-sidebar">
    <h5 class="light">Control Bar</h5>
    <fieldset>
      <div class="clearfix">
        <div style="margin-left:20px;float:left;">
            <%= link_to 'New Purchase', new_purchase_path,:class => "sprite-sidebarnew newpurchasebutton", "data-controls-modal" => "new_purchase", "data-backdrop" => "static", "rel" => "popover", "data-content" => "Create a Purchase Order to start tracking your orders.  You will need to enter a unique P.O. number and select the user who created the P.O.  Once the Purchase Order is created you can begin to enter the associated Line Items.  Remember to change the P.O. to complete after all Line Items have been received.", :title => "Information", "data-placement" => "left"  %>
          </div>
          <div style="margin-left:10px;float:left;">
            <h7>Create a P.O.</h7>
          </div>
        </div>
    </fieldset>
  </div>
  <% end %>
</div>

