<div class="box onethird">
<% if can? :create, Purchase %>

  <div>
    <div class="boxheading clearfix">
      <h3>New Purchase Order</h3>
      <!-- <a class="move"></a> -->
        <%= link_to(new_purchase_path, :class => "r", :remote => true, :id => "formshow")  do %>
            <%= image_tag ("hdr_dropdown.png") %>
        <% end %>
    </div>
    <section id="form" style="display:none;">
      <%= render 'form' %>
    </section>
    <% end %>
      <br/>
  </div>

  <div class="boxheading clearfix">
    <h3>Filters</h3>
    <a class="move"></a>
  </div>
  <section>
    <%= search_form_for @q, :html => { :class => "form-stacked" } do |f| %>
        <div class="row">
          <%= f.label "Purchases:" %>

          <%= f.text_field :po_number_cont, :class => "span3" %>
        </div>

        <%= f.submit :class => "btn blue submit mt15", "data-placement" => "below", "rel" => "twipsy", :title => "Search" %> &nbsp; <%= link_to "Reset", purchases_path, :class => "btn blue submit mt15", "data-placement" => "below", "rel" => "twipsy", "title" => "Clear Form" %>
    <% end %>
  </section>
</div>