<% if Purchase.count.zero? %>
  <% content_for :empty do %>
    <div class="blank_slate_container">
      <span class="blank_slate">
        There are no Purchase Orders yet.  <%= link_to 'Create One', new_purchase_path %>
      </span>
    </div>
  <% end %>
<% else %>
  <% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
  <% end %>

  <% content_for :content do %>
    <div class="box twothirds">
      <div class="boxheading clearfix">
        <h3>Purchase Orders</h3>
        <a class="move"></a>
      </div>
      <section>
        <table class="zebra-striped bordered-table">
          <thead>
            <tr>
              <th><%= sort_link @q, :prod_number, "Purchase Order" %></th>
              <th>Ordered By</th>
              <th>Date Ordered</th>
              <th>Complete</th>
              <% if can? :update, Purchase %><th class="action-buttons">Actions</th> <% end %>
            </tr>
          </thead>
          <tbody id="tablehead">
            <%= render :partial => "purchase", :collection => @purchases %>
          </tbody>
        </table>
        <div class="paging mt15 clearfix">
          <div class="r">
                <%= paginate @purchases %>
            </div>
        </div>
        
        <div class="clearfix"></div>
      </section>
      <script type="text/javascript" id="js">
        $(document).ready(function(){
          $('#formshow').click(function() {
            $('#form').toggle('blind', 500,function() {
              
            });
          });
          $('#formnoshow').click(function() {
            $('#form').hide(function() {
              
            });
          });
        });
      </script>

      <script type="text/javascript" id="js">
        $(document).ready(function(){
          $('#footerformshow').click(function() {
            $('#form').toggle('blind', 500,function() {

            });
          });
          $('#formnoshow').click(function() {
            $('#form').hide(function() {
              
            });
          });
        });
      </script>
    </div>
  <% end %>
<% end %>

<% content_for :footer do %>
  <li>
    <%= link_to(new_purchase_path, :remote => true, :id => "footerformshow") do %>
      <%= image_tag('addit.png') %>
      <span><h4 style="display:inline;">Create Purchase</h4></span>
    <% end %>
  </li>
<% end %>
