<% if Purchase.all.count == 0 %>
  <% content_for :empty do %>
    <div class="blank_slate_container">
      <span class="blank_slate">
        There are no Purchase Orders yet.  <%= link_to 'Create One', new_purchase_path %>
      </span>
    </div>
  <% end %>
<% else %>
  <% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
  <% end %>

  <% content_for :content do %>
    <div class="box twothirds">
      <div class="boxheading clearfix">
        <h3>Purchase Orders</h3>
        <a class="move"></a>
      </div>
      <section>
        <table class="bordered-table">
          <thead>
            <tr>
              <th><%= sort_link @q, :prod_number, "Purchase Order" %></th>
              <th>Ordered By</th>
              <th>Date Ordered</th>
              <th>Complete</th>
              <% if can? :update, Purchase %><th class="action-buttons">Actions</th> <% end %>
            </tr>
          </thead>
          <tbody>
          <% @purchases.each do |purchase| %>
            <tr>
              <td><%= link_to purchase.po_number, purchase %></td>
              <td><%= purchase.user.username unless purchase.user.blank? %></td>
              <td><%= purchase.date_ordered %></td>
              <td><% if !purchase.complete?  %><span class="sprite-new notcompletebutton">False</span><% else %><span class="sprite-new completebutton">True</span><% end %></td>
              <% if can? :update, Purchase %>
              <td><%= link_to 'Show', purchase,:class => "sprite-new showbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Show Details" %><%= link_to 'Edit', edit_purchase_path(purchase),:class => "sprite-new editbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Edit P.O." %><%= link_to 'Destroy', purchase,:class => "sprite-new deletebutton", confirm: 'Are you sure?', method: :delete, "data-placement" => "below", "title" => "Delete P.O." %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </section>
    </div>
  <% end %>
<% end %>
