<% content_for :topbar do %>
  <%= render :partial => 'topbar' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :content do %>
<div class="content">

  <table class="zebra-striped bordered-table">
    <thead>
      <tr>
        <th><%= sort_link @q, :prod_number, "Purchase Order" %></th>
        <th>Date Ordered</th>
        <th>Complete</th>
        <th class="action-buttons">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.po_number %></td>
        <td><%= purchase.date_ordered %></td>
        <td><%= purchase.complete %></td>
        <td><%= link_to 'Show', purchase,:class => "btn success" %>&nbsp;<%= link_to 'Edit', edit_purchase_path(purchase),:class => "btn primary" %>&nbsp;<%= link_to 'Destroy', purchase,:class => "btn danger", confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<br />

<%= link_to 'New Purchase', new_purchase_path,:class => "btn primary" %>
<% end %>
