<% content_for :topbar do %>
	<%= render :partial => 'topbar' %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar-products' %>
<% end %>

<% content_for :content do %>
<div class="content">
	<%= render :partial => 'show-header' %>
	<%= render :partial => 'show-content' %>
	<h1>Line Items (<%= @purchase.products.count %>)</h1>
	<%= render :partial => 'show-products' %>
</div>
<% end %>



