<div class="box onethird">
  <div class="boxheading clearfix">
    <h3>Your Unfilled Purchases</h3>
    <a class="move"></a>
  </div>
  <section class="clearfix">
    <table>
      <tbody>
        <% if @myunfilled.count >= 1 %>
          <% @myunfilled.each do |myunfilled| %>
            <tr>
              <td><%= myunfilled.po_number %></td>
              <td><%= myunfilled.date_ordered %></td>
              <% if can? :update, Purchase %>
                <td><%= link_to 'Show', myunfilled,:class => "sprite-new showbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Show Details" %><%= link_to 'Edit', edit_purchase_path(myunfilled),:class => "sprite-new editbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Edit P.O." %><%= link_to 'Destroy', myunfilled,:class => "sprite-new deletebutton", confirm: 'Are you sure?', method: :delete, "data-placement" => "below", "title" => "Delete P.O." %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No Unfilled Purchases</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>