<% content_for :nocontent do %>
<body class="login clearfix">
  <!-- / Start main -->
  <div id="login" class="inner clearfix">

    <div class="header">
      <%= link_to image_tag('stockify_logo_alt.png'), root_path, :class => "logo" %>
      <!-- <a href="index.html" class="logo"><img src="assets/hdr_logo.png" alt=""></a> -->
    </div>
    <div class="upper clearfix">
      <% if flash[:notice] %>
        <div class="notification blue">
          <p><%= image_tag ("icons/info.png") %><%= notice %></p>
          <%= link_to "", "", :class => "close hider" %>
        </div>
      <% end %>
    </div>
    <div class="loginform">
      <!-- / Language  -->
      <ul class="lang sf_menu clearfix sf-js-enabled sf-shadow"><!-- / Please note that these LI elements are right floated to keep the fluid layout consistent  -->
        <li class="last"><%= link_to image_tag('icons/question.png'), '#' %></li>
        <li><a class="sf-with-ul" href="#">English<span class="sf-sub-indicator"> »</span></a>
          <ul style="display: none; visibility: hidden;">
            <li><a href="#">German</a></li>
            <li class="last"><a href="#">Bulgarian</a></li>
          </ul>
        </li>
      </ul>
      <!-- / End language  -->
      <div class="form_container">
        <%= form_tag sessions_path do %>

              <%= text_field_tag :email, params[:email], :placeholder => "email.example.com" %>

              <%= password_field_tag :password, '',{:placeholder => "password"} %>

              <%= submit_tag "Log in", :class => "loginbtn" %>

        <% end %>
      </div>
    </div>
    
  </div>
  <!-- / End main -->
</body>
<% end %>