<div class="box onethird">
  <div class="boxheading clearfix">
    <h3>Other Unfilled Purchases</h3>
    <a class="move"></a>
  </div>
  <section class="clearfix">
    <table>
      <tbody>
        <% if @otherunfilled.count >= 1 %>
          <% @otherunfilled.each do |otherunfilled| %>
            <tr>
              <td><%= otherunfilled.po_number %></td>
              <td><%= otherunfilled.user.username unless otherunfilled.user.blank? %></td>

              <% if can? :update, Purchase %>
                <td><%= link_to 'Show', otherunfilled,:class => "sprite-new showbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Show Details" %><%= link_to 'Edit', edit_purchase_path(otherunfilled),:class => "sprite-new editbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Edit P.O." %><%= link_to 'Destroy', otherunfilled,:class => "sprite-new deletebutton", confirm: 'Are you sure?', method: :delete, "data-placement" => "below", "title" => "Delete P.O." %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No Unfilled Purchases</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>