<%= form_for [@purchase, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <div class="clearfix">
    <%= f.label "Purchase Order:" %>
		<div class="input">
    	<%= text_field_tag 'purchase_product_purchase_id', @purchase.id, {:class => "uneditable-input", :disabled => true, :placeholder => @purchase.po_number} %>
		
		</div>
	</div>
  <div class="clearfix">
    <%= f.label "Product #:" %>
    <div class="input">
        <%= f.autocomplete_field :product_type_prod_number, autocomplete_product_type_prod_number_purchase_products_path, :id_element => "#product_product_type_id"  %><%= f.hidden_field :product_type_id %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label "Quantity Ordered:" %>
		<div class="input">
    	<%= f.number_field :quantity %>
		</div>
	</div>
  <div class="clearfix">
		<%= f.label "Location Stored:" %>
		<div class="input">
    	<%= f.collection_select(:location_id, Location.all, :id, :room, :include_blank => 'Select Location') %>
		</div>
	</div>
  <div class="clearfix">
		<%= f.label "Received:" %>
		<div class="input">
    	<%= f.check_box :received %>
		</div>
	</div>
  <div class="clearfix">
		<%= f.label "Date Received:" %>
		<div class="input">
    	<%= f.text_field :date_received, :id => "datepicker" %>
		</div>
	</div>
  <div class="clearfix">
  	<div class="well">
    	<%= f.submit :class => "btn primary" %>
  	</div>
	</div>
	</fieldset>
	<% end %>
