<%= form_for [@purchase, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <%= f.label "Purchase Order:" %>

    	<%= autocomplete_field_tag :product_purchase_po_number, @product.purchase.po_number, autocomplete_purchase_po_number_purchase_products_path, :size => 75, :id_element => "#product_purchase_id" %><%= f.hidden_field :purchase_id %>
		

	</div>
  <div class="row">
    <%= f.label "Product #:" %>

        <%= autocomplete_field_tag :product_type_prod_number, @product.product_type.prod_number, autocomplete_product_type_prod_number_purchase_products_path, :size => 75, :id_element => "#product_product_type_id"  %><%= f.hidden_field :product_type_id %>

  </div>
  <div class="row">
    <%= f.label "Quantity Ordered:" %>

    	<%= f.number_field :quantity %>

	</div>
  <div class="row">
    <%= f.label "Received By:" %>

      <%= f.collection_select(:user_id, User.all, :id, :username, :include_blank => 'Select a User') %>

  </div>
  <div class="row">
		<%= f.label "Location Stored:" %>

    	<%= f.collection_select(:location_id, Location.all, :id, :room, :include_blank => 'Select Location') %>

	</div>
  <div class="row">
		<%= f.label "Received:" %>

    	<%= f.check_box :received %>

	</div>
  <div class="row">
		<%= f.label "Date Received:" %>

    	<%= f.text_field :date_received, :id => "datepicker" %>

	</div>

    	<%= f.submit :class => "btn blue submit mt15" %>

	<% end %>
