<% content_for :topbar do %>
	<%= render :partial => 'topbar' %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<% content_for :content do %>
<div class="content">
	<table class="zebra-striped bordered-table">
		<thead>
			<tr>
    		<th>Purchase Order</th>
    		<th>Product Type</th>
    		<th>Quantity Ordered</th>
    		<th>Location</th>
    		<th>Received</th>
    		<th>Date received</th>
    		<th class="action-buttons">Actions</th>
  		</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
  		<tr>
    		<td><%= product.purchase.po_number %></td>
    		<td><%= product.product_type.prod_number %></td>
    		<td><%= product.quantity %></td>
    		<td><%= product.location.room unless product.location.blank? %></td>
    		<td><%= product.received %></td>
    		<td><%= product.date_received %></td>
    		<td><%= link_to 'Show', product,:class => "btn success" %>&nbsp;<%= link_to 'Edit', edit_product_path(product),:class => "btn primary" %>&nbsp;<%= link_to 'Destroy', product,:class => "btn danger", confirm: 'Are you sure?', method: :delete %></td>
  		</tr>
		</tbody>
<% end %>
	</table>

<br />

<%= link_to 'New Product', new_product_path,:class => "btn primary"  %>
</div>

<% end %>