<% content_for :sidebar do %>

<% end %>

<% content_for :content do %>
<div class="box onethird">&nbsp;</div>
<div class="box midthirds">
  <div class="boxheading clearfix">
    <h3>Product Details</h3>
    <%= link_to "", purchase_path(@purchase), :class => "prev" %>
  </div>
  <section>
    <div class="row">
		<p>
			<b>Purchase Order:  </b>
			<%= @product.purchase.po_number %>
		</p>
	</div>
	<div class="row">
		<p>
			<b>Product Type:  </b>
			<%= @product.product_type.prod_number %>
		</p>
	</div>
	<div class="row">
		<p>
			<b>Quantity Ordered:  </b>
			<%= @product.quantity %>
		</p>
	</div>
	<div class="row">
		<p>
			<b>Received By:  </b>
			<%= @product.user.username unless @product.user.blank? %>
		</p>
	</div>
	<div class="row">
		<p>
			<b>Location Stored:  </b>
			<%= @product.location.room unless @product.location.blank? %>
		</p>
	</div>
	<div class="row">
		<p>
			<b>Received:  </b>
			<%= @product.received %>
		</p>
	</div>
	<div class="row">
		<p>
			<b>Date Received:  </b>
			<%= @product.date_received %>
		</p>
	</div>
  </section>
</div>
<div class="box onethird">&nbsp;</div>
    

<% end %>
