<% content_for :topbar do %>
	<%= render :partial => 'topbar' %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<% content_for :content do %>
<div class="content">
	<h1>Storage Locations</h1>

	<table class="zebra-striped bordered-table">
		<thead>
			<tr>
				<th>Room</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @locations.each do |location| %>
			<tr>
				<td><%= location.room %></td>
				<td><%= link_to 'Show', location %></td>
				<td><%= link_to 'Edit', edit_location_path(location) %></td>
				<td><%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<br />

	<%= link_to 'New Location', new_location_path,:class => "btn primary" %>
</div>
<% end %>
