<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<% content_for :content do %>

<div class="content">
	<table class="zebra-striped bordered-table">
		<thead>
			<tr>
				<th>Room</th>
				<% if can? :update, Location %><th class="action-buttons">Actions</th><% end %>
			</tr>
		</thead>
		<tbody>
			<% @locations.each do |location| %>
			<tr>
				<td><%= location.room %></td>
				<% if can? :update, Location %>
					<td><%= link_to 'Show', location,:class => "sprite-new showbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Show Details" %>&nbsp;<%= link_to 'Edit', edit_location_path(location),:class => "sprite-new editbutton", "data-placement" => "below", "rel" => "twipsy", "title" => "Edit Location" %>&nbsp;<%= link_to 'Destroy', location,:class => "sprite-new deletebutton", confirm: 'Are you sure?', method: :delete, "data-placement" => "below", "title" => "Delete Location" %></td>
				<% end %>	
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="pull-right">
		<%= paginate @locations%>
	</div>
</div>

<% end %>
