<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<% content_for :content do %>

<div class="content">
	<table class="zebra-striped bordered-table">
		<thead>
			<tr>
				<th>Room</th>
				<th class="action-buttons">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @locations.each do |location| %>
			<tr>
				<td><%= location.room %></td>
				<td><%= link_to 'Show', location,:class => "btn success" %>&nbsp;<%= link_to 'Edit', edit_location_path(location),:class => "btn primary" %>&nbsp;<%= link_to 'Destroy', location,:class => "btn danger", confirm: 'Are you sure?', method: :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="pull-right">
		<%= paginate @locations%>
	</div>
</div>

<% end %>
