<% content_for :topbar do %>
	<%= render :partial => 'topbar' %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<% content_for :content do %>
<div class="content">
	<% if flash[:notice] %>
	<div class="alert-message success">
		<%= link_to "x", location_path(@location), :class => "close" %>
		<p id="notice"><%= notice %></p>
	</div>
	<% end %>
	<div class="pull-right">
		<%= link_to 'Edit', edit_location_path(@location), :class => "btn primary"  %> 
		<%= link_to 'Back', locations_path, :class => "btn primary"  %>
	</div>
	<div class="row">
		<div class="span12">
			<h1><%= @location.room %></h1>
			<div class="row">
				<div class="span12">
					<p>
  					<b>Room:</b>
  					<%= @location.room %>
					</p>
				</div>
			</div>
		</div>
	</div>
<% end %>
