<!DOCTYPE html>
<html>
<head>
  <title>stockify | <%= @title %></title>
  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "1440", :media => "only screen and (min-width: 1440px)" %>
  <%= stylesheet_link_tag "1024", :media => "only screen and (min-width: 1024px)" %>
  <%= stylesheet_link_tag "768", :media => "only screen and (min-width: 768px) and (max-width: 1024px)" %>

  
  
  


</head>
<% if current_user %>
<body class="clearfix">
<div id="wrap">
<header>
  <section class="container_12"><!-- / Using 960's grid container_12 to standartize paddings/margins -->
      <div class="upper clearfix">
        <!-- / Logo -->
        <%= link_to image_tag('stockify_logo_alt.png'), root_path, :class => "logo mt20" %>
        <!-- <a href="dashboard.html" class="logo mt20"><img src="assets/hdr_logo.png" alt="" /></a> -->
        <!-- / End logo -->

        <!-- / Language and search -->
        <div class="r top">
          <!-- / Language  -->
          <ul class="lang sf_menu clearfix"><!-- / Please note that these LI elements are right floated to keep the fluid layout consistent  -->
            <li class="last"><%= link_to image_tag('icons/question.png'),"" %></a></li>
            <li><a href="#">English</a>
              <ul>
                <li><a href="#">German</a></li>
                <li class="last"><a href="#">Bulgarian</a></li>
              </ul>
            </li>
          </ul>
          <!-- / End language  -->
          <!-- / Search  -->
          <div class="search">
          <form action="search.php">
            <input type="text" placeholder="Search database..." >
            <button></button>
          </form>
          </div>
          <!-- / End search input -->
        </div>
        <div class="clear">&nbsp;</div>
        <!-- / End slanguage and search -->
        
        <!-- / Userbar - separated from the main nav to fall back in mobile design. -->
        <div class="r usermenu">
          <ul class="sf_menu clearfix">
            <li class="last">
              <%= link_to "", :class => "messages" do %>
                <%= image_tag('icons/helloadmin/messages.png') %>
                <sup><%= my_unfilled_po.count %></sup>
              <% end %>
            </li>
            <li><%= link_to current_user do %>
                  <%= image_tag('icons/helloadmin/user.png') %>
                  <span><%= current_user.username %></span>
                <% end %>
              <ul>
                <li><%= link_to "Your Account", current_user %></li>
                <li class="last"><%= link_to "Logout", log_out_path %></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- / End userbar -->

        <!-- / Main navigation-->
        <nav class="mainnav l">
          <ul id="mainnav" class="sf_menu clearfix">
            <li>
              <%= link_to root_path do %>
                <%= image_tag('icons/helloadmin/dashboard.png') %>
                <span>Dashboard</span>
              <% end %>
            </li>
            <li>
              <%= link_to purchases_path do %>
                <%= image_tag('icons/helloadmin/layouts.png') %>
                <span>Purchase Orders</span>
              <% end %>
            </li>
            <li>
              <%= link_to product_types_path do %>
                <%= image_tag('icons/helloadmin/modules.png') %>
                <span>Inventory</span>
              <% end %>
            </li>
            <li>
              <%= link_to "" do %>
                <%= image_tag('icons/helloadmin/features.png') %>
                <span>Administration</span>
              <% end %>
              <ul>
                <li><%= link_to "Storage Locations", locations_path %></li>
                <li class="last"><%= link_to "Users", users_path %></li>
              </ul> 
            </li>
          </ul>
        </nav>
        <!-- / End main navigation-->
      </div>
  </section>
</header>

<!-- / Start main -->

<div id="main" class="container_12 clearfix" role="main">
  <section class="container_12"><!-- / Using 960's grid container_12 to standartize paddings/margins -->
    <div class="upper clearfix">
      <% if flash[:notice] %>
        <div class="notification green">
          <p><%= image_tag ("icons/success.png") %><%= notice %></p>
          <%= link_to "", "", :class => "close hider" %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="notification red mt15">
          <p><%= image_tag ("icons/error.png") %><%= error %></p>
          <%= link_to "", "", :class => "close hider" %>
        </div>
      <% end %>
    </div>
  </section>
  <%= yield :empty %>
  <%= yield :content %>
  <%= yield :sidebar %>
</div>
</div>
<!-- / End main -->

<!-- / Footer -->
<footer role="contentinfo">
  <section class="container_12"><!-- / Using 960's grid container_12 to standartize paddings/margins -->
    <div class="lower clearfix">
      <nav class="mainnavf l">
        <ul id="mainnav2" class="clearfix">
          <!-- <li><%= link_to image_tag('icons/helloadmin/dashboard.png'), root_path %></li>
          <li><%= link_to image_tag('icons/helloadmin/layouts.png'), purchases_path %></li>
          <li><%= link_to image_tag('icons/helloadmin/modules.png'), product_types_path %></li>
          <li><%= link_to image_tag('icons/helloadmin/features.png'), users_path %></li> -->
          <%= yield :footer %>
        </ul>
      </nav>
      <a href="#" id="top" class="top">top</a>
    </div>
    <div class="smallest">
      <div class="l">
        © Copyright 2010 Stockify
      </div>
      <div class="r">
        © Copyright 2010 Stockify
      </div>
    </div>
  </section>
</footer>
<!-- / End footer -->

<!-- START SCRIPTING -->
<script>
  $(function () {
    $("a[rel=twipsy]").twipsy({
      // live: true
      animate: false
    })
  })
</script>
<script>
  $(function () {
    $("a[rel=nofollow]").twipsy({
      live: true
    })
  })
</script>
<script>
  $(function () {
    $("input[rel=twipsy]").twipsy({
      // live: true
      animate: false
    })
  })
</script>
<script>
  $(function () {
    $("a[rel=popover]")
      .popover({
        offset: 10,
        html: true
      })
    .hover(function(e) {
      e.preventDefault()
    })
  }) 
</script>

<script>
// iOS scale bug fix
MBP.scaleFix();

// Respond.js
yepnope({
  test : Modernizr.mq('(only all)'),
  nope : ['<%= asset_path 'respond.min.js' %>']
});
</script>
<!-- END SCRIPTION -->

</body>
<% else %>
  <%= yield :nocontent %>
<% end %>
</html>