<!DOCTYPE html>
<html>
<head>
  <title>stockify | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--  NAVIGATION BAR -->
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <%= link_to "stockify", root_path, :class => "brand" %>
        <ul class="nav">
          <% if controller_name == 'home' %>
            <li class="active"><%= link_to "Dashboard", root_path %></li> 
          <% else %>
            <li><%= link_to "Dashboard", root_path %></li> 
          <% end %>
          <% if controller_name == 'purchases' %>
            <li class="active"><%= link_to "Purchase Orders", purchases_path %></li> 
          <% else %>
            <li><%= link_to "Purchase Orders", purchases_path %></li> 
          <% end %>
          <% if controller_name == 'product_types' %>
            <li class="active"><%= link_to "Inventory", product_types_path %></li> 
          <% else %>
            <li><%= link_to "Inventory", product_types_path %></li> 
          <% end %>
          <% if controller_name == 'locations' %>
            <li class="dropdown active" data-dropdown="dropdown" >
              <a href="#" class="dropdown-toggle">Administration</a>
              <ul class="dropdown-menu">        
                <li class="active"><%= link_to "Storage Locations", locations_path %></li>
                <li><%= link_to "Users", users_path %></li>
              </ul>
            </li>
          <% elsif controller_name == 'users' %>
            <li class="dropdown active" data-dropdown="dropdown" >
              <a href="#" class="dropdown-toggle">Administration</a>
              <ul class="dropdown-menu">        
                <li><%= link_to "Storage Locations", locations_path %></li>
                <li class="active"><%= link_to "Users", users_path %></li>
              </ul>
            </li>
          <% else %>
          <li class="dropdown" data-dropdown="dropdown" >
            <a href="#" class="dropdown-toggle">Administration</a>
            <ul class="dropdown-menu">        
              <li><%= link_to "Storage Locations", locations_path %></li>
              <li><%= link_to "Users", users_path %></li>
            </ul>
          </li>
          <% end %> 
        </ul>
        <p class="pull-right"><% if current_user %><span style="color:#BFBFBF;">Logged in as </span><%= link_to current_user.username, user_path(current_user.id) %>&nbsp;&nbsp;<%= link_to "Logout", log_out_path, :class => "sprite-header logoutbutton" %><% else %><%= link_to "Login", log_in_path, :class => "btn primary", "data-controls-modal" => "logitin", "data-backdrop" => "static" %><% end %></p>
      </div>
    </div>
  </div>
<!-- END NAVIGATION BAR -->

<!-- TITLE BAR  -->
  <div id="title_bar">
    <h2 id="page_title"><%= @title %></h2>
  </div>
<!-- END TITLE BAR -->
  <div class="container-fluid">
    <div class="content">
      <% if flash[:notice] %>
      <div class="alert-message success">
        <%= link_to "x", '', :class => "close" %>
        <p id="notice"><%= notice %></p>
      </div>
      <% end %>
      <% if flash[:error] %>
      <div class="alert-message error">
        <%= link_to "x", '', :class => "close" %>
        <p id="error"><%= error %></p>
      </div>
      <% end %>
    </div>
  </div>
<!-- MAIN CONTENT -->  
  <div class="container-fluid">
    <%= yield :sidebar %>
    <%= yield :content %>
  </div>

<!-- END MAIN CONTENT -->

<!-- HIDDEN CONTENT -->
<script type="text/javascript" id="js">
  $(document).ready(function() {
    $('#logitin').modal({
   show : true,
   keyboard : true,
   backdrop : true
});
</script>

<div class="modal hide fade" id="logitin" >
  <div class="modal-header">
    <%= link_to 'x', users_path, :class => 'close' %>
      <h3>Please Login</h3>
  </div>
  <div class="modal-body">
    <%= form_tag sessions_path do %>
    <fieldset>
      <div class="clearfix">
        <%= label_tag :email %>
        <div class="input">
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :password %>
        <div class="input">
          <%= password_field_tag :password %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= submit_tag "Log in", :class => "btn primary" %>
        </div>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
<script>
  $(function () {
    $("a[rel=twipsy]").twipsy({
      live: true
    })
  })
</script>
<script>
  $(function () {
    $("a[rel=nofollow]").twipsy({
      live: true
    })
  })
</script>
<script>
  $(function () {
    $("input[rel=twipsy]").twipsy({
      live: true
    })
  })
</script>
<!-- END HIDDEN CONTENT -->
</body>
</html>
