<!DOCTYPE html>
<html>
<head>
  <title>Stockit | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield :topbar %>

    <div class="container-fluid">
	  <%= yield :sidebar %>
      <%= yield :content %>
    </div>


</body>
</html>
